affine==2.3.0
attrs==20.1.0
certifi==2020.6.20
click==7.1.2
click-plugins==1.1.1
cligj==0.5.0
cycler==0.10.0
Fiona==1.8.14
future==0.18.2
helper==2.4.2
kiwisolver==1.2.0
matplotlib==3.3.1
munch==2.5.0
numpy==1.19.1
opencv-python==4.4.0.42
Pillow==7.2.0
pyparsing==2.4.7
python-dateutil==2.8.1
PyYAML==5.3.1
rasterio==1.1.5
six==1.15.0
snuggs==1.4.7
tifffile==2020.9.30
torch==1.6.0
torchvision==0.7.0
pyproj~=3.0.1
argparse~=1.4.0